.layout-web {
  &__header-web {
    height: 60px !important;
    padding: 0;
    width: 100%;
    line-height: 0 !important;
    transition: box-shadow .3s;
    background: transparent;
    z-index: 9;
  }
  .site-layout-web {
    height: calc(100vh - 65px);
    margin-top: 50px;
    background: #fff;
    overflow: inherit;
  }
}