.about {
    &__row{
        &--content{
            padding: 72px 0;
            width: 800px;
            margin: 0 auto;
            text-align: center;
             &__title{
                font-size: 36px;
                text-align: center;
                color: $primary-color-bold;
                margin-bottom: 50px;
            }
            >p{
                font-size: 18px;
            }
            &__bottom{
                margin-top: 50px;
            }
        }
        &.bg{
            background-color: white;
        }
    }
    .image-demo{
        width: 100px;
        height: 100px;
        background-color: #ababab;
        margin: auto;
    }
    .ant-carousel {
        border-radius: 8px;
        overflow: hidden;
        .slick-dots {
          top: 370px;
        }
      }
      .home__wrapper--icon {
        top: 50%;
        left: -45px;
        background: white;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        .anticon {
          font-size: 20px;
        }
        &.right {
          right: -45px;
          left: unset;
        }
      }
}