button.ant-btn {
  transition: .3s;
  height: 45px;
  >span {
    font-size: $base-font-size + 2;
    font-weight: bold;
  }
  &.no-bg{
      background-color: transparent;
      &:hover {
        background-color: $primary-color-bold;
        color: white;
    }
  }
  &.primary {
    border-color: $primary-color-bold;
    color: $primary-color-bold;
  }
}