.tour {
  &__content-wrapper {
    background-color: white;
    &.top {
      margin-top: 64px;
      padding-top: 20px;
    }
  }
  &__row {
    max-width: 1160px;
    margin: auto;
    &.search-page {
      margin-top: 32px;
      border-top: #e0e0e0 1px solid;
      padding-bottom: 15px;
    }
    &--title {
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      line-height: 1.25;
      margin-bottom: 0;
    }
  }
  .ant-breadcrumb-link {
    font-size: 14px;
    cursor: pointer;
  }
  .ant-breadcrumb > span:first-child {
    color: $primary-color-bold;
  }
  &__search-left {
    flex: 0 0 260px;
    max-width: 260px;
    .search__filter {
      padding: 24px 0;
    }
    .search-left-title {
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      margin-bottom: 12px;
      line-height: 1.5;
      word-break: break-word;
      padding-right: 19px;
    }
    .ant-tree-title {
      display: inline-block;
      white-space: normal;
      font-size: 14px;
      line-height: 1.2;
      margin-left: 0;
      vertical-align: middle;
    }
    .ant-tree-treenode {
      margin-top: 8px;
    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
      background-color: $primary-color-bold;
      border-color: $primary-color-bold;
    }
    .button {
      margin-top: 15px;
      padding: 0 10px;
      button {
        width: 100%;
        height: 30px;
        line-height: 18px;
      }
    }
  }
  &__search-right {
    border-left: #e0e0e0 1px solid;
    flex: 0 0 900px;
    max-width: 900px;
  }
  &__search-wrapper {
    width: 901px;
    padding-left: 36px;
    padding-top: 24px;
    position: relative;
    padding-bottom: 60px;
    z-index: 1;
    .input-small {
      width: 285px;
    }
    input::placeholder {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-picker {
      margin-right: 8px;
      max-width: 150px;
      input::placeholder {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
      }
    }
    .price-wrapper {
      display: flex;
      align-items: center;
      margin-right: 8px;
      cursor: pointer;
      > span {
        margin-left: auto;
        padding-right: 8px;
        font-size: 14px;
      }
      width: 205px;
      height: 32px;
      border: 1px solid #d9d9d9;
      &.active {
        background-color: $primary-color-bold;
        color: white;
      }
    }
    .accept-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 8px;
      margin-right: 8px;
      > span {
        padding-right: 8px;
        font-size: 14px;
      }
      width: 205px;
      height: 32px;
      border: 1px solid #d9d9d9;
      .ant-checkbox-wrapper {
        margin-left: auto;
      }
    }
    .order-wrapper {
      margin-left: auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 8px;
      > span {
        padding-right: 8px;
        font-size: 14px;
        white-space: nowrap;
      }
      width: 285px;
      height: 32px;
      .ant-checkbox-wrapper {
        margin-left: auto;
      }
      .ant-select-selection-item {
        font-size: 14px;
      }
    }
    > h4 {
      font-size: 24px;
      font-weight: 600;
      color: #333333;
      margin-bottom: 24px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--row-search {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
  }
  &__result-wrapper {
    padding-top: 25px;
    .ant-card-cover {
      height: 156px;
    }
    .home__row--col-content {
      margin-bottom: 12px;
    }
    .order {
      color: #24b985;
    }
  }
  .home__wrapper.tour-chi-tiet {
    margin: 0 auto;
    height: 370px;
    margin-top: 20px;
    .ant-carousel {
      height: 370px;
    }
    .slick-dots {
      top: 360px;
    }
  }
  .breadcrumb-top {
    margin-top: 24px;
    &.chitiet-tour {
      .ant-breadcrumb-link {
        color: $primary-color-bold;
      }
    }
  }
  &__title-page {
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    color: #333333;
  }
  &__rate-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    .star {
      font-size: 16px;
      color: #ffb433;
      margin-right: 2px;
      .anticon-star {
        font-size: 16px;
      }
    }
    .info {
      line-height: 16px;
      font-size: 14px;
      color: #999;
      .rate {
        margin-left: 8px;
        color: #4985e6;
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .like {
      margin-left: auto;
      font-size: 14px;
      color: #333333;
      display: flex;
      align-items: center;
      .anticon-heart {
        font-size: 23px;
        margin-right: 8px;
        color: #d5d5d5;
      }
      &:hover {
        color: $primary-color-bold;
        .anticon-heart {
          color: $primary-color-bold;
        }
      }
    }
  }
  &__shop {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 72px;
    z-index: 100000000000;
    background-color: #fff;
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.12);
    .para {
      margin-right: 25px;
    }
    &--wrapper {
      max-width: 1160px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #333333;
      button {
        margin-right: 15px;
      }
      button.add {
        background-color: #ff974d;
        border-color: #ff974d;
      }
    }
  }
}

.price-content {
  width: 300px;
  .title {
    font-size: 16px;
  }
  .button {
    margin-top: 5px;
    button {
      min-width: 30px;
      height: 30px;
      line-height: 21px;
    }
  }
}

.chitiet-tour {
  &__list-top {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      padding-top: 16px;
      margin-right: 34px;
      font-size: 14px;
      color: #333333;
      .content {
        display: flex;
        align-items: center;
        span {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
  .start-list {
    margin-bottom: 8px;
  }
  .ul-info {
    padding-left: 20px;
  }
  &__card-price-top {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 2px;
    .pay-info {
      padding: 12px 20px;
      .anticon-info-circle {
        font-size: 14px;
      }
      p.first,
      p.accept {
        margin-bottom: 0;
      }
      .price {
        strong {
          font-size: 24px;
          color: #333333;
          margin-right: 8px;
        }
        span {
          font-size: 16px;
          color: #888;
          text-decoration: line-through;
        }
      }
      .accept {
        font-size: 14px;
        color: #333333;
        .anticon {
          font-size: 14px;
          margin-right: 8px;
          &.anticon-clock-circle {
            color: #d1d1d1;
          }
          &.anticon-thunderbolt {
            color: $primary-color-bold;
          }
        }
      }
      .button {
        margin-top: 18px;
        button {
          width: 100%;
          height: 40px;
        }
      }
    }
    .para-bottom {
      display: flex;
      padding: 12px 15px 12px 20px;
      font-size: 14px;
      line-height: 1.37;
      border-top: 1px solid #eee;
      .anticon {
        font-size: 30px;
        color: #6fc76e;
        margin-right: 8px;
      }
      strong {
        color: $primary-color-bold;
      }
    }
  }
  &__content-para {
    ul {
      padding-left: 18px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    span.comment {
      font-size: 40px;
      font-weight: bold;
      color: #424242;
      margin-right: 16px;
    }
    span.rate {
      font-size: 18px;
      color: #666;
      margin-left: 14px;
      height: max-content;
    }
    .anticon-star{
      font-size: 30px;
    }
  }
  .comment-rate {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    .anticon-star{
      font-size: 14px;
    }
    .ant-rate{
      margin-right: 8px;
    }
  }
  .btn-comment{
    margin-top: 10px;
    justify-content: unset;
    padding-bottom: 50px;
  }
  .row-wrapper{
    margin-bottom: 0 !important;
  }
}

.title-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  padding-left: 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: #424242;
  &.item{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 5px;
    height: 20px;
    background-color: $primary-color-bold;
    border-radius: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  span {
    font-size: 24px;
    &.small{
      font-size: 14px;
      font-weight: 100;
      margin-left: 10px;
    }
  }
}